html{
    overflow-x: hidden;
}
body, button {
    font-family: 'Lato', sans-serif;
}
.clear {
    clear: both;
}
a:hover {
    text-decoration: none;
}
.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 125%;
    object-fit: cover;
}
.container {
    padding: 0;
}
.navbar {
    padding-left: 0;
    padding-right: 0;
}
.main-nav {
    margin-top: 50px;
}
.nav-brand img {
    width: 140%;
}
.nav-link {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    margin-left: 60px;
}
.nav-link:hover {
    color: white;
}
.main-content {
    margin-top: 20vh;
}
.main-content h1{
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
}
.main-content p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}
.main-content .input-group {
    width: 330px;
    height: 70px;
    margin-right: 70px;
    float: left;
}
.main-content .input-group .form-control {
    height: 70px;
    font-size: 20px;
    color: white;
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #BFC0C5;
}
.form-control::placeholder {
    color: white;
}
.input-group-text{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #BFC0C5;
    padding-left: 0;
}
.search-btn {
    color: white;
    background: #1B7DFF;
    border: none;
    width: 200px;
    height: 70px;
    font-size: 26px;
}
.benefit-section {
    width: 84%;
    margin: 150px auto;
    background: white;
    box-shadow: 0 0 25px 0 rgba(0,0,0, .25);
}
.benefit-content h1 {
    color: #102746;
    padding: 80px 0 100px 0;
}
.benefit-content {
    width: 100%;
}
.benefit-content .row {
    padding-bottom: 100px;
}
.benefit-content img {
    margin-bottom: 30px;
}
.benefit-content h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.benefit-content p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.benefit-content a img{
    margin-left: 20px;
    margin-top: 27px;
}

.inspired-section {
    width: 85%;
    padding: 0 20px;
    margin: auto;
}   
.inspired-section h2 span{
    border-bottom: 2.5px solid #006DFE;
}
.inspired-section h2 {
    margin-left: -20px;
}
.col-md-6, .col-md-4{
    padding: 0;
    margin-bottom: 7px;
}
.inspired-item {
    width: 99%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 25px 0 rgba(0,0,0, .25);
}
.inspired-list {
    padding: 50px 0 0 0;
}
.inspired-list1{
    padding: 0;
}
.inspired-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    transition: 0.8s;
}
.inspired-cover .black {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
}
.inspired-cover h2{
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-size: 55px;
    font-weight: 700;
    color:white;
    opacity: 1;
}
.inspired-item img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
    transition: 0.8s;
}
.inspired-item:hover img{
    transform: scale(1.1);
}
.inspired-item:hover .inspired-cover{
    display: block;
}
.view {
    float: right;
}
.arrow {
    margin-left: 30px;
}
.prefec-neibor-section {
    width: 85%;
    margin: auto;
    margin-top: 150px;
}
.pre-content {
    margin-bottom: 100px;
}
.pre-content h2{
    color: #102746;
    margin-bottom: 80px;
    margin-top: 20px;
}
.pre-content p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
}
.today-place-section {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}
.today-place-section .container-fluid .row {
    margin-left: 30px;
}
.today-wrapper {
    width: 85%;
    margin-bottom: 30px;
}
.today-wrapper .today-img {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}
.today-img{
    overflow: hidden;
}
.today-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s;
}
.today-wrapper p {
    font-size: 18px;
    font-weight: 500;
}
.today-wrapper button {
    width: 130px;
    height: 50px;
    background: #006DFE;
    color: white;
    border: none;
}
.today-wrap {
    display:none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
.black2 {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
}
.today-wrap h2 {
    position: absolute;
    bottom:5px;
    left: 20px;
    font-size: 20px;
    color: white;
}
.today-wrap pre{
    position: absolute;
    bottom:0;
    right: 20px;
    font-size: 18px;
    color: white;
}
.today-img:hover .today-wrap {
    display: block;
}
.today-img:hover img {
    transform: scale(1.1);
}
.footer {
    width: 100%;
    margin-top: 100px;
    padding: 0;
}
.footer img {
    width: 100%;
    cursor: pointer;
}
.footer-wrapper {
    display: flex;
    width: 100%;
    height: 370px;
    background: #0E1D28;
    align-items: center;
}
.footer-wrapper img {
    flex:2.5;
    height: 80px;
}
.footer-wrapper ul {
    list-style: none;
    padding: 0;
    flex: 1;
}
.footer-wrapper ul li{
    line-height: 15px;
}
.footer-wrapper ul li a{
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 1480px) {
    .benefit-content {
        padding: 0 30px;
    }
}


@media screen and (max-width: 1200px) {
    .benefit-content {
        padding: 0 30px;
    }
    .benefit-section {
        margin-top: 200px;
        box-shadow: 0 0 0 0;
    }
}


@media screen and (max-width: 992px) {
    .benefit-content {
        padding: 0 30px;
    }
    .benefit-section {
        margin-top: 200px;
        box-shadow: 0 0 0 0;
    }
    .prefec-neibor-section .container-fluid .reverse {
        flex-direction: column-reverse;
    }
}


@media screen and (max-width: 768px) {
    .navbar {
        padding: 0 40px;
    }
    .main-content {
        align-content: center;
        text-align: center;
    }
    .input-group {
        margin-left: 20%;
        margin-bottom: 100px;
    }
    .benefit-section{
        box-shadow: 0 0 0 0;
        width: 100%;
        text-align: center;
        margin-top: 200px;
    }
    .benefit-content .row .col-md-4 {
        padding: 50px 50px;
    }
    .inspired-section h2 {
        font-size: 30px;
    }
    .view {
        float: left;
    }
}


@media screen and (max-width: 576px) {

}